.inbottom-player {
    position: fixed;
    z-index: 999;
    bottom: -50rem;
    left: 0;
    width: 100%;
    /*height: 100px;*/
    padding: 1rem 0;
    background-color: #1C1D20;
    -webkit-transition: bottom 0.15s ease-in-out;
    -o-transition: bottom 0.15s ease-in-out;
    transition: bottom 0.15s ease-in-out;
}

.inbottom-player.revealed {
    bottom: 0;
}


.player-controls {
    margin-left: 1rem;
    color: #8a8a88;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.player-controls a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
}

.player-controls a svg {
    fill: #8a8a88;
}

.player-controls a:hover svg {
    fill: #fff;
}

.player-close {
    font-size: 1.65rem;
    color: #8a8a8a;
    margin-left: auto;
    cursor: pointer;
    font-weight: bold;
}

.player-close:hover {
    color: #fff;
}

#timeline {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50px;
    cursor: pointer;
}